*{
    margin:0 auto;
    padding: 0;
}
body{
    background: #F2F2F2;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.header{
    width: 100%;
    height: 44px;
    background: #F2F2F2;
    border-bottom: 1px solid #aaa;
    position: fixed;
    top: 0px;
    left: 0px;
}
.header_1{
    float: left;
    padding-top: 5px;
    margin-left: 12px;
    width: 33%;
    line-height: 44px;
    outline:none;
}
.header_2{
    float: left;
    text-align:center;
    width: 34%;
    font-size: 18px;
    color: #323232;
    font-weight: bold;
    line-height: 44px;
}
.header_3{
    float: right;
    text-align: right;
    width: 10%;
    margin-right: 12px;
    line-height: 44px;
}
.header_3 img{
    vertical-align: middle;
    width: 20px;
}
.kong1{
    height: 5px;
    margin-top: 44px;
}
.main{
    padding: 25px 12px;
    background: #FF984C;
}
.main_1{
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
}
.main_2_l{
    float: left;
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
}
.main_2_r{
    float: right;
    width: 130px;
    height: 40px;
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
    border:none;
    background: #FFDB4C;
    border-radius: 20px;
    font-size: 15px;
    color: #323232;
}
.main_3{
    font-size: 15px;
    color: #fff;
    opacity: 0.3;
}
.kq{
    padding: 25px 12px;
    background: #fff;
}
.kq_l{
    float: left;
    font-size: 15px;
    color: #323232;
}
.kq_r{
    float: right;
}
.slideOne {
  width: 39px;
  height: 2px;
  background: #999;
  position: relative;
}
.slideOne label {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 0px;
  cursor: pointer;
  background: #FFDB4C;
  border-radius: 50px;
  border:1px solid #323232;
  outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
  /*transition: all 0.4s ease;*/
}
.slideOne input[type=checkbox] {
  visibility: hidden;
}
.slideOne input[type=checkbox]:checked + label {
  left: -20px;
  background: #fff;
  border:1px solid #323232;
  outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
}
.kq_r_r{
    margin-top: 12px;
}
.hui{
    text-align: center;
    margin-top: 90px;
}
.hui_t{
    margin-bottom: 20px;
}
.hui_t img{
    width: 80px;
}
.hui_b{
    color: #ccc;
    font-size: 18px;
}