* {font-family: "Myriad Set Pro", 'Hiragino Sans GB W3', '微软雅黑', 'YaHei', 'Microsoft YaHei', "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif", 'SHSCN', 'Open Sans';font-size: 16px;color: #646464;margin: 0;padding: 0;}
a, a:focus, a:hover, a:active {border: none;outline: none;text-decoration: none;color:#646464;box-sizing: border-box;}
li {list-style: none;}
.clear {clear: both;}
body{background: #F0F0F0;}
.group-head{width: 100%;background: #FFFFFF;padding-top: 12px;padding-bottom: 12px;border-bottom: 1px solid #F0F0F0;position: fixed;top: 0px;}
.group-head-div{width: 100%;margin: auto;text-align: center;}
.group-head-a1{display: block;position: absolute;left: 12px;top: 14px;}
.group-head-a2 img{display: inline-block;vertical-align: middle;width: 22px;height: 22px;}
.group-head-a2{display: block;position: absolute;right: 12px;top: 12px;}

/*列表*/
.group-body{}
.group-body a li{margin-top: 10px;background: #FFFFFF;box-sizing: border-box;padding-left: 12px;padding-right: 12px;}
.group-body a li header{padding-top: 16px;padding-bottom: 16px;border-bottom: 1px solid #E1E1E1;}
.group-body a li header span{display: inline-block;width: 48%;}
.group-body-s1{text-align: left;text-align: -webkit-left;}
.group-body-s1 img{display: inline-block;vertical-align: middle;width: 76px;height: 26px;}
.group-body-s2{text-align: right;font-size: 12px;color: #4D4D4D;}
.group-body a li div{padding-top: 10px;padding-bottom: 10px;}
.group-body-sp1{width: 45%;height: 140px;display: inline-block;}
.group-body-sp1 img{width: 100%;height: 100%;}
.group-body-sp2{display: inline-block;width: 53%;vertical-align: top;}
.group-body-sp2 .group-body-sp2-p1{font-size: 14px;color: #333333;font-weight: 600;padding-bottom: 5px;}
.group-body-sp2 .group-body-sp2-p2{font-size: 12px;color: #808080;padding-bottom: 5px;}
.group-body-sp2 .group-body-sp2-p3{font-size: 16px;color: #ff3377;font-weight: 600;padding-bottom: 5px;}
.group-body-sp2 .group-body-sp2-p4{font-size: 12px;color: #333333;font-weight: 600;text-align: right;padding-bottom: 5px;}
.group-body-sp2 .group-body-sp2-p5{font-size: 10px;color: #A5A5A5;text-align: right;padding-bottom: 5px;}
.group-body-sp2 .group-body-sp2-p5-2{font-size: 10px;color: #FF3377;text-align: right;padding-bottom: 5px;font-weight: 600;}
.group-body-sp2 .group-body-sp2-p6{width: 100%;padding-bottom: 5px;}
.group-body-sp2-p6-s1{display: inline-block;width: 40%;text-align: left;font-size: 12px;}
.group-body-sp2-p6-s2{display: inline-block;width: 55%;text-align: right;font-size: 10px;}
.group-body-sp2-p6-s2 span{display: inline-block;text-align: center;font-size: 10px;border: 1px solid #FFCC00;background:#FFCC00;border-radius: 4px;padding: 4px;}






