* {font-family: "Myriad Set Pro", 'Hiragino Sans GB W3', '微软雅黑', 'YaHei', 'Microsoft YaHei', "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif", 'SHSCN', 'Open Sans';font-size: 16px;color: #646464;margin: 0;padding: 0;}
a, a:focus, a:hover, a:active {border: none;outline: none;text-decoration: none;color:#646464;box-sizing: border-box;}
li {list-style: none;}
.clear {clear: both;}
.home-page-d1{width:100%;position: absolute;top: 5px;text-align: center;}
.home-page-d2{width:100%;position: absolute;top: 5px;text-align: right;right: 12px;}
.home-page-d1-span1 img{display: inline-block;}
.home-page-d1-span1{width: 250px;height: 30px;border-radius: 15px; display: inline-block;border: 0px solid black;line-height: 30px;font-size: 16px;color: #FFFFFF;background: rgba(0,0,0,0.4);}
.home-page-d1-span1 span{width: 180px;display: inline-block;line-height: 24px;font-size: 16px;color: #FFFFFF;background: rgba(0,0,0,0);overflow: hidden;white-space:nowrap;border: 0px solid red;vertical-align: middle;}
.home-page-d2-span1{display: inline-block;border: 0px solid black;line-height: 30px;border-radius: 15px;height: 24px;width: 24px;border-radius: 15px;overflow: hidden;background: rgba(0,0,0,0.4);padding: 3px;}
.home-page-d2-span1 img{max-width: 100%;height: auto; display: inline-block;}
.home-page-header{width: 100%;}
.home-page-header img{width: 100%;height: auto;}
.home-page-nav,.home-page-nav table{width: 100%;}
.home-page-nav{margin-top: 15px;}
.home-page-nav img{display: inline-block;padding-bottom: 8px;}
.home-page-nav table td{width: 25%;text-align: center;border: 0px solid black;font-size: 11px;color: #323232;}
.home-page-nav table{border-collapse: collapse;}


.home-page-d3{width: 100%;height: 5px;background: #e1e1e1;margin-top: 15px;}

/*商家列表*/
.home-page-body{width: 100%;padding-top: 25px;padding-bottom: 25px;box-sizing: border-box;padding-left: 12px;padding-right: 12px;}
.home-page-body-li{padding-bottom: 26px;border-bottom: 1px solid #E1E1E1;padding-top: 26px;width: 100%;}
.home-page-body-li,.home-page-body-li table,.home-page-body-li table tr{width: 100%;}
.home-page-body-li-td1{width: 30%;border: 0px solid black;padding: 0px;border: 0px solid black;}
.home-page-body-li-td1 img{width: 90%;height: auto;border-radius: 2px;border: 0px solid #df3d3e;}
.home-page-body-li-td2{width: 65%;border: 0px solid black;}
.home-page-body-li-td2 h1{border: 0px solid red; font-size: 16px;color: #323232;font-weight: 600;width: 100%;height: 20px;overflow:hidden;display: inline-block; /*  white-space:nowrap;  text-overflow:ellipsis;*/}
.home-page-body-li-td2 h2 span{font-size: 11px;color: #323232;}
.home-page-body-li-td2 h2 table{width: 100%;}
.home-page-body-li-td2-h2-td1{text-align: left;text-align: -webkit-left;border: 0px solid black;}
.home-page-body-li-td2-h2-td2{text-align: right;text-align: right;color: #DF3D3E;}
.home-page-body-li-td2 h2{display: inline-block;width: 100%;margin: 0px;padding: 0px;}
.home-page-body-li-td2 h2 td{width: 50%;border: 0px solid black;}
.home-page-body-li-td2 h3 table{width: 100%;}
.home-page-body-li-td2 h3 span{font-size: 11px;color: #323232;}
.home-page-body-li-td2-h3-td1{width: 70%;border: 0px solid black;}
.home-page-body-li-td2-h3-td2{width: 20%;text-align: right;}
/*活动*/
.home-page-span1{display: inline-block;width: 70%;}
.home-page-p{width: 100%;padding-top: 26px;}
.home-page-span2{display: inline-block;width: 27%;text-align: right;font-size: 14px;color: #969696;vertical-align: top;}
.home-page-span2 img{display: inline-block;padding-left: 6px;}
.home-page-span1-no1{  white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 14px;color: #969696;vertical-align: middle;width: 100%;display: inline-block;padding-bottom: 10px;}
.home-page-span1-no1-s1{display: inline-block;width: 24px;height: 24px;border-radius: 15px;background: #ff974c;vertical-align: middle;text-align: center;font-size: 14px;line-height: 24px;border: 1px solid #323232;}
.home-page-span1-no1-s2{display: inline-block;width: 24px;height: 24px;border-radius: 15px;background: #f2cf48;vertical-align: middle;text-align: center;font-size: 14px;line-height: 24px;border: 1px solid #323232;}
/*超出配送范围分割线*/
.home-page-chaochu td{font-size: 11px;color: #969696;text-align: center;}
.home-page-chaochu{width: 100%;}
.home-page-chaochu-td1,.home-page-chaochu-td2{width: 20%;}
.home-page-chaochu td span{background: #E1E1E1;height: 1px;display: inline-block;vertical-align: middle;width: 100%;}
/*底部按钮*/
.home-page-fot{width: 100%;height: 59px;box-sizing: border-box;padding-top: 6px;padding-bottom: 6px;background: rgba(255,255,255,0.9);position: fixed;bottom: 0px;}
.home-page-fot table{width: 100%;}
.home-page-fot table td{width: 25%;text-align: center;text-align: -webkit-center;text-align: -moz-center;font-size: 9px;color: #323232;}
.home-page-fot table td img{width: 25px;height: 25px;}


