/*定位页面*/
* {font-family: "Myriad Set Pro", 'Hiragino Sans GB W3', '微软雅黑', 'YaHei', 'Microsoft YaHei', "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif", 'SHSCN', 'Open Sans';font-size: 16px;color: #646464;margin: 0;padding: 0;}
a, a:focus, a:hover, a:active {border: none;outline: none;text-decoration: none;color:#646464;box-sizing: border-box;}
li {list-style: none;}
.clear {clear: both;}
body{background: #F0F0F0;}
.location-header{width:100%;position: fixed;background: #FFFFFF;}
.loc-head{width: 100%;height: 50px;}
.loc-head-d1{position: absolute;top: 20px;left: 12px;}
.loc-head-d1 img{width: 15px;height: 15px;}
.loc-head-d2{width: 100%;text-align: center;font-size: 18px;color: #323232;background: #FFFFFF;border-bottom: 1px solid #E1E1E1;padding-top: 20px;padding-bottom: 20px;}
/*地址*/
.loc-tab{width:100%;border-collapse:collapse;border: 0px solid black;background: #f0f0f0;border-radius: 2px;display: block;border: 0px solid black;box-sizing: border-box;padding-right: 12px;background: #FFFFFF;}
.loc-tab-1{width: 28%;height: 35px;background: #FFFFFF;}
.loc-tab-1 img{width: 11px;height: 6px;}
.loc-tab-1 span{font-size: 14px;color: #323232;display: inline-block;padding-left: 12px;padding-right: 5px;}
.loc-tab-2{background: #f0f0f0;height: 35px;}
.loc-tab-2 input{ background: #f0f0f0;background-image: url(../img/location-ss.png);background-repeat: no-repeat;background-size: 20px 18px;padding-left: 25px; display: inline-block;vertical-align: top;background-position-y: 7px;background-position-x: 5px; line-height: 35px;font-size: 15px;border: 0px solid #F0F0F0;width: 90%;outline: none;border: 0px solid black;box-sizing: border-box;}
.loc-tab-3{text-align: right;background: #f0f0f0;height: 35px;width: 15%;border: 0px solid black;}
.loc-tab-3 img{width: 50px;height: 26px;display: inline-block;vertical-align: middle;visibility: hidden;padding-left: 6px;}
/*.loc-tab-3 button{width: 80%;display: block;margin: auto;border: 1px solid #000000;line-height: 35px;border-radius: 5px;background: #FFCC00;color: #000000;font-weight: 600;outline: none;display: none;}*/
/*定位当前位置*/
.loc-dw{width: 100%;background: #F0F0F0;padding-top: 20px;padding-bottom: 5px;}
.loc-dw img{width: 18px;height: 18px;display: inline-block;padding-left:12px ;padding-right:5px ;}
.loc-dw span{font-size: 16px;color: #969696;}

.loc-dqwz{width: 100%;background: #FFFFFF;padding-top: 20px;box-sizing: border-box;padding-left: 12px;padding-bottom: 20px;}
.loc-dqwz span{font-size: 18px;color: #DF3D3E;display: inline-block;}
.loc-dqwz-s1{width: 70%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.loc-dqwz-s2{text-align: right;width: 20%;}
.loc-dqwz-s2 img{width: 20px;height: 20px;}

/*地址列表*/
.location-mydz{width: 100%;background: #FFFFFF;box-sizing: border-box;padding-top: 20px;}
.location-mydz table{width: 100%;font-size: 16px;color:#323232;border: 0px solid black;box-sizing: border-box;padding-left: 12px;padding-top: 20px;padding-bottom: 20px;}
.location-mydz table td{margin-top: 10px;border: 0px solid black;}
.location-mydz-td1{width: 40%;}
.location-mydz-td2{width: 60%;text-align: left;}
.location-mydz-td3{width: 100%;font-size: 16px;color: #969696;}

