*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
/*标题开始*/
header{
    width:100%;
    height:44px;
    line-height: 44px;
    background:#fff;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    top:0px;
    z-index: 10;
}
header .head{
   width:100%;
   height:44px;
   line-height: 44px;
   position: absolute;
   top:0px;
}
header .head img{
    width:8px;
    height:16px;
    margin-left: 12px;
    vertical-align: middle;
}
header .section{
    text-align: center;
    font-size:18px;
    color:#333333;
}
/*标题结束*/
/*内容开始*/
section{
    width:100%;
    height:auto;
    background:#ffffff;
    margin-top: 44px;
}
section .main{
    width:100%;
    height:300px;
    background:#fff;
}
section .main .title{
    font-size:16px;
    color:#333333;
    padding:20px 0px 20px 12px;
}
section .main .huiyuan{
    width:300px;
    height:48px;
    line-height: 48px;
    border-radius: 50px;
    border:1px solid #333333;
    background:#ffdb4c;
    margin:0 auto;
    margin-bottom: 24px;
}
section .main .huiyuan a span{
    text-align: center;
    display: block;
    font-size: 15px;
    color:#333333;
}
/*内容结束*/