*{
    margin:0 auto;
    padding: 0;
}
body{
    background: #F2F2F2;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #323232;
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.header{
    width: 100%;
    height: 44px;
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
}
.header_1{
    float: left;
    padding-top: 5px;
    margin-left: 12px;
    width: 33%;
    line-height: 44px;
    outline:none;
}
.header_2{
    float: left;
    text-align:center;
    width: 34%;
    font-size: 18px;
    color: #323232;
    font-weight: bold;
    line-height: 44px;
}
.kong1{
    height: 49px;
}
.main{
    padding: 25px 0px;
    background: #fff;
}
.sz{
    font-size: 18px;
    text-align: center;
    color: #969696;
    margin-bottom:10px;
}
.box{
    margin: 20px;
    padding: 20px;
    background: #fff;
    text-align: center;
}
input{
    margin: 0;
    padding: 0;
    width: 1px;
    opacity: 0;
    height: 1px;
    border: none;
}
label{
    display: block;
    text-align: center;
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
}
ul{
    border: 2px solid #969696;
    background: #fff;
    display: inline-block;
    font-size: 0;
}
ul li{
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    border-left: 1px solid #E1E1E1;
    vertical-align: middle;
    overflow: hidden;
}
ul li:first-child {
    border-left: none;
}
.qr{
    font-size: 18px;
    text-align: center;
    color: #969696;
    margin-bottom:10px;
    margin-top:25px;
}
.tj{
    margin-top: 49px;
    text-align: center;
    display: block;
    outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
            /*border:none;*/
    width: 275px;
    height: 44px;
    border-radius:22px;
    border:2px solid #000;
    background: #FFDB4C;
    font-size: 18px;
    color: #000;
}